PORT=3004
NODE_ENV=development

# PostgreSQL/PostGIS usado pelo backend Node.js a correr no Windows
PGHOST=127.0.0.1
PGPORT=5433
PGDATABASE=igv_tp2
PGUSER=postgres
PGPASSWORD=postgres
PGSSLMODE=disable

# Host que o GeoServer usa dentro da rede Docker para chegar ao PostGIS
PGHOST_FOR_GEOSERVER=dbgis_igv
PGPORT_FOR_GEOSERVER=5432

# GeoServer
GEOSERVER_URL=http://localhost:8080/geoserver
GEOSERVER_WORKSPACE=igv
GEOSERVER_STORE=postgis_igv
GEOSERVER_USER=admin
GEOSERVER_PASSWORD=geoserver

# Área de estudo
STUDY_DTMN=1609
STUDY_NAME=Viana do Castelo
